

.blogtitlebox {
    background: #000000; 
    margin: 0; 
    padding-left: 5pc;
    padding-bottom: 5pc;
}

.blogtextbox {
    margin: 0; 
    padding-left: 10pc;
    padding-right: 10pc;
    font-size: 24px;
}

.blogcolorbox {
    background: #1b1b1a; 
    margin: 0; 
    padding-left: 5pc;
}

body {
	padding-bottom: 200px;
}

h2 {
    color: blue;
}


h3 {
    color: red;
}
